In [1]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [2]:
url = "http://www9.health.gov.au/cda/source/rpt_2_sel.cfm"

In [ ]:
# tables = pd.read_html(url)
# tables

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
There is no [win32] chromedriver for browser 91.0.4472 in cache
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\fernb\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [4]:
browser.find_by_id('report_option_5').first.click()
browser.find_by_id('sel_year').first.select("2016")
browser.find_by_id('CTIME1').click()

In [5]:
tables = pd.read_html(browser.html)
tables

[                      Unnamed: 0                  ACT                  NSW  \
 0                            NaN                  NaN                  NaN
 1            Bloodborne diseases  Bloodborne diseases  Bloodborne diseases
 2                Hepatitis (NEC)                  0.0                  0.0
 3   Hepatitis B (newly acquired)                  0.7                  0.2
 4      Hepatitis B (unspecified)                 21.8                 29.6
 ..                           ...                  ...                  ...
 74                 Leptospirosis                  0.0                  0.2
 75    Lyssavirus infection (NEC)                  0.0                  0.0
 76                    Ornithosis                  0.0                  0.2
 77                       Q fever                  0.5                  3.0
 78                    Tularaemia                  0.0                  0.0

                      NT                  QLD                   SA  \
 0                   NaN                  NaN                  NaN
 1   Bloodborne diseases  Bloodborne diseases  Bloodborne diseases
 2                   0.0                  0.0                  0.0
 3                   0.8                  1.2                  0.4
 4                  43.6                 20.5                 18.2
 ..                  ...                  ...                  ...
 74                  0.4                  1.9                  0.1
 75                  0.0                  0.0                  0.0
 76                  0.0                  0.0                  0.0
 77                  0.8                  4.9                  1.6
 78                  0.0                  0.0                  0.0

                     TAS                  VIC                   WA  \
 0                   NaN                  NaN                  NaN
 1   Bloodborne diseases  Bloodborne diseases  Bloodborne diseases
 2                   0.0                  0.0                  0.0
 3                   0.4                  1.0                  1.0
 4                   7.3                 28.6                 24.9
 ..                  ...                  ...                  ...
 74                  0.2                  0.3                  0.2
 75                  0.0                  0.0                  0.0
 76                  0.0                  0.2                  0.0
 77                  0.0                  0.7                  0.5
 78                  0.0                  0.0                  0.0

                    Aust      Last 5yearsmean              Ratio**
 0                   NaN                  NaN                  NaN
 1   Bloodborne diseases  Bloodborne diseases  Bloodborne diseases
 2                   0.0                  0.0                  Nil
 3                   0.7                  0.8                  0.9
 4                  25.7                 27.7                  0.9
 ..                  ...                  ...                  ...
 74                  0.5                  0.5                  1.1
 75                  0.0                  0.0                  Nil
 76                  0.1                  0.2                  0.4
 77                  2.3                  2.0                  1.2
 78                  0.0                  0.0                  0.0

 [79 rows x 12 columns]]

In [6]:
df = tables[0]
df.head()

,Unnamed: 0,ACT,NSW,NT,QLD,SA,TAS,VIC,WA,Aust,Last 5yearsmean,Ratio**
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases
2,Hepatitis (NEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nil
3,Hepatitis B (newly acquired),0.7,0.2,0.8,1.2,0.4,0.4,1.0,1.0,0.7,0.8,0.9
4,Hepatitis B (unspecified),21.8,29.6,43.6,20.5,18.2,7.3,28.6,24.9,25.7,27.7,0.9

In [15]:
dropped = df.dropna(axis=0)
dropped

,Unnamed: 0,ACT,NSW,NT,QLD,SA,TAS,VIC,WA,Aust,Last 5yearsmean,Ratio**
1,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases,Bloodborne diseases
2,Hepatitis (NEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nil
3,Hepatitis B (newly acquired),0.7,0.2,0.8,1.2,0.4,0.4,1.0,1.0,0.7,0.8,0.9
4,Hepatitis B (unspecified),21.8,29.6,43.6,20.5,18.2,7.3,28.6,24.9,25.7,27.7,0.9
5,Hepatitis C (newly acquired),4.0,0.3,1.2,7.7,2.6,4.3,2.3,4.7,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
74,Leptospirosis,0.0,0.2,0.4,1.9,0.1,0.2,0.3,0.2,0.5,0.5,1.1
75,Lyssavirus infection (NEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nil
76,Ornithosis,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,0.1,0.2,0.4
77,Q fever,0.5,3.0,0.8,4.9,1.6,0.0,0.7,0.5,2.3,2.0,1.2
78,Tularaemia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:

disease = dropped.sort_values(by=['ACT'],ascending=False)[:8]

In [43]:
diseaselist = disease["ACT"].sort_index()
indexlist = diseaselist.index

In [44]:
indexlist[0]

1

In [46]:
data1 = dropped[indexlist[0]:indexlist[1]-1]
data1

,Unnamed: 0,ACT,NSW,NT,QLD,SA,TAS,VIC,WA,Aust,Last 5yearsmean,Ratio**
2,Hepatitis (NEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nil
3,Hepatitis B (newly acquired),0.7,0.2,0.8,1.2,0.4,0.4,1.0,1.0,0.7,0.8,0.9
4,Hepatitis B (unspecified),21.8,29.6,43.6,20.5,18.2,7.3,28.6,24.9,25.7,27.7,0.9
5,Hepatitis C (newly acquired),4.0,0.3,1.2,7.7,2.6,4.3,2.3,4.7,3.0,3.0,1.0
6,Hepatitis C (unspecified),41.7,60.1,77.7,49.2,29.2,45.4,37.1,43.2,47.6,41.2,1.2
7,Hepatitis D,0.0,0.2,0.8,0.2,1.1,0.0,0.3,0.0,0.3,0.2,1.2

In [ ]:
# #Selenium hands of the source of the specific job page to Beautiful Soup
# soup_level2=BeautifulSoup(driver.page_source, 'lxml')

# #Beautiful Soup grabs the HTML table on the page
# table = soup_level2.find_all('table')[0]
    
# #Giving the HTML table to pandas to put in a dataframe object
# df = pd.read_html(str(table),header=0)
    
# #Store the dataframe in a list
# datalist.append(df[0])

In [7]:
 browser.quit()

In [ ]:
from sqlalchemy import create_engine

#requires password for connection
path = f"postgresql://{username}:{password}@localhost:5432/ETL_DB"
engine = create_engine(path)


connection = engine.connect()

In [ ]:
# load year and worker summary tables
workersummary.to_sql('Workersummary', connection, if_exists='replace', index = False)

In [ ]:
# load each cities data as separate table

df_perth.to_sql('Perth_UV', connection, if_exists='replace', index = False)
df_sydney.to_sql('Sydney_UV', connection, if_exists='replace', index = False)
df_darwin.to_sql('Darwin_UV', connection, if_exists='replace', index = False)